.mt10{
    margin-top: 10px;
}
.mb10{
    margin-top: 0px;
}
#logo-img{
    vertical-align:text-top;
}
.brand-logo{
    font-family: 'Zilla Slab', cursive;
    letter-spacing: .1em;
}
#foot-box{
    padding-bottom: 60px;
}