html {
    height: 100%;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.3);
}
.navbar-brand{
    font-family: 'Zilla Slab', cursive;
    letter-spacing: .1em;
}
body{
    background-image: url("/images/1920px/cover-1.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
}
#back-img-cover{

    background-color: rgba(0,0,0,0);
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* opacity: 0.2; */
    height: inherit;
    /* width: auto; */
    /* padding-bottom: 15%; */
    
} 
.op1{
    opacity:1;
}

h1 {
    color: seashell;
    /* font-family: 'Montserrat Alternates', sans-serif; */
    /* font-family: 'Zilla Slab Highlight', cursive; */
    font-family: 'Zilla Slab', cursive;
    /* font-weight: 700; */
    letter-spacing: .1em;
    text-transform: uppercase;

}


#brand-icon-large{

    max-width: 1.6em; 
    height: auto;
} 

#exploreButton {
     background-color: white;
     color:black;
     border-color: white;
    margin-top: 2%;
    cursor: pointer;
    /* border-spacing: 0; */
    /* opacity: 0.8;  */
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}

.display-1 {
    font-size: 2em;
}
@media (min-width: 576px) {
    .display-1 {
        font-size: 4em;
    }
}
@media (min-width: 768px) {
    .display-1 {
        font-size: 6em;
    }
}
@media (min-width: 992px) {
    .display-1 {
        font-size: 8em;
    }
}


.display-5 {
    font-size: 0.8em;
}
@media (min-width: 576px) {
    .display-5 {
        font-size: 1.5em;
    }
}
@media (min-width: 768px) {
    .display-5 {
        font-size: 2em;
    }
}
@media (min-width: 992px) {
    .display-5 {
        font-size: 2.5em;
    }
}

#content {
    color: seashell;
    text-align: center;
    margin-top: 10%;
    padding-bottom: 2%;
    padding-top: 2%;
    background-color: rgba(0, 0, 0, 0.3);
    /* text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.7); */
    /* text-shadow: 0px 8px 13px rgba(0, 0, 0, 0.6); */
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}
.ws{
    word-spacing: 1.7em;
}
#GPS{
    color: seashell;
}
