
*.zip
*.jpg
.firebaserc
*.code-workspace
firebase-debug.log
*.bak
data/UK.json
firebase.json
*.png
icons/**
fonts/**
images/**
bootstrap.min.js
jquery-3.3.1.min.js
animate.css
bootstrap.*
materialize.*
markerclusterer.js
